.header {
  margin: 0px;
  height: 128px;
  background-color: #953f70;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title {
  font-family: "Adventure Time Logo", serif;
  font-size: 4rem;
  color: white;
}

.logo {
  height: 80px;
  margin: 30px;
}
