.header {
  margin: 0px;
  height: 128px;
  background-color: #953f70;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: "Adventure Time Logo", serif;
  font-size: 4rem;
  color: white;
}

.logo {
  height: 80px;
  margin-left: 30px;
  margin-right: 30px;
}
