.princess {
  flex-basis: calc(100% / 4 - 4px);
  background-color: rgb(255, 255, 255, 0.7);
  margin: 2px;
}

.princess:hover {
  outline: solid 4px #ffd800;
}

.princess-playerOne {
  background-color: #591f6e;
  flex-basis: calc(100% / 4 - 4px);
  margin: 2px;
}

.princess-playerTwo {
  background-color: #d10171;
  flex-basis: calc(100% / 4 - 4px);
  margin: 2px;
}

.princessImage {
  width: 141px;
  height: 141px;
}
