*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 192, 226, 1) 0%,
    rgba(255, 56, 163, 1) 100%
  );
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "Adventure Time Logo";
  src: url("./assets/Adventure Time Logo.ttf");

  font-style: normal;
}
@font-face {
  font-family: "Sweet Cake";
  src: url("./assets/Sweet Cake.otf");

  font-style: normal;
}
